{#Ceci est le gabarit de mes pages#}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sunflower</title>
    {#J'indique le chemin de mes feuilles de styles et scriptsjs grâce à des variables créées dans index.php#}
    <link rel="icon" href="{{ chemin_images }}sunflower-logo.ico">
    <link rel="stylesheet" href="{{ chemin_vendor }}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ chemin_vendor }}bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{ chemin_vendor }}font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="{{ chemin_css }}style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One" rel="stylesheet">
</head>
<body>
{#J'inclus le menu#}
{% include 'navigation.html.twig' %}
{#Ci-dessous le body#}
{% block content %}
{% endblock %}
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-offset-10 col-xs-2>
                <a href="#"><img src="{{ chemin_images }}arrow.png" alt="arrow" title="arrow" class="scrollToTop"></a>
            </div>
        </div>
            <div class="text-center center-block">
                <a href="#"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:eloisemecozzi@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-2 col-lg-10 col-lg-offset-1">
                <a href="#">Mentions Légales</a> |
                <a href="#">Plan du site</a>
            </div>
        </div>
    </div>
</footer>
<script src="{{ chemin_vendor }}jquery-3.2.1.min.js"></script>
<script src="{{ chemin_vendor }}bootstrap/js/bootstrap.min.js"></script>
<script src="{{ chemin_js }}app.js"></script>
<script src="{{ chemin_js }}login.js"></script>
<script src="{{ chemin_js }}gotToTop.js"></script>
<script src="{{ chemin_js }}scrollTo.js"></script>
</body>
</html>

